[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/mcreenan/syntastic.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
