[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:mcreenan/syntastic.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/keepcase"]
	path = vim/bundle/keepcase
	url = git://github.com/vim-scripts/keepcase.vim.git
[submodule "vim/bundle/puppet-syntax-highlighting"]
	path = vim/bundle/puppet-syntax-highlighting
	url = git://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/vim-perl
	url = git://github.com/petdance/vim-perl.git
[submodule "vim/bundle/switch"]
	path = vim/bundle/switch
	url = https://github.com/AndrewRadev/switch.vim
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = https://github.com/vim-scripts/Align
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/vimshell"]
	path = vim/bundle/vimshell
	url = https://github.com/Shougo/vimshell.vim
[submodule "vim/bundle/vmiproc"]
	path = vim/bundle/vmiproc
	url = https://github.com/Shougo/vimproc
[submodule "vim/bundle/vim-supervisor"]
	path = vim/bundle/vim-supervisor
	url = https://github.com/thiderman/vim-supervisor
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline
[submodule "vim/bundle/vim-ansible-yaml"]
	path = vim/bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "vim/bundle/jinja2-syntax"]
	path = vim/bundle/jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax
[submodule "vim/bundle/vim-raku"]
	path = vim/bundle/vim-raku
	url = https://github.com/Raku/vim-raku
[submodule "vim/bundle/semshi"]
	path = vim/bundle/semshi
	url = https://github.com/numirias/semshi
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = https://github.com/vim-python/python-syntax
